body {
  font: normal 11pt sans-serif;
  margin: 1ex 1ex 0 0;
}

.title {
  align-items: center;
  background: silver;
  display: flex;
  height: 32px;
  padding: 0 1em;
}

.title span:first-child {
  flex: 1;
  font-weight: bold;
}

th-editor {
  display: block;
  height: 25vh;
}

#perfSpan {
  margin: 0 1ex;
}

#cursorSpan {
  margin: 0 1ex;
}

.selected {
  background: beige;
}

input[type=radio] {
  margin: 0 1ex;
}

input[type=checkbox] {
  margin: 0 1ex;
}

@media (orientation: landscape) {
  html {
    display: flex;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .row {
    display: flex;
    flex: 1;
    margin: 0 0 1ex 0;
    overflow: hidden;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 0 1ex;
  }

  th-editor {
    flex: 1;
  }

  #matchDiv {
    flex: 1;
    overflow: auto;
  }
}
