html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  align-items: center;
  background: silver;
  display: flex;
  height: 24px;
  padding: 0 1em;
}

.title span {
  flex: 1;
}

th-editor {
  flex: 1;
}
